div:where(.swal2-container) {
  z-index: 99999 !important;
}

div:where(.swal2-container) .swal2-html-container {
  overflow: hidden !important;
}

div:where(.swal2-container).swal2-backdrop-show,
div:where(.swal2-container).swal2-noanimation {
  background: rgba(145, 145, 145, 0.65) !important;
}

div:where(.swal2-icon) {
  border: none !important;
}

.swal2-title {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #3e3c4f;
  margin-bottom: 15px;
}


button {
  &.swal2-styled {
    padding: 0 !important;
    border-radius: 25px !important;
  }
}

.swal2-html-container {
  width: 95%;
  margin: 0 auto !important;
  p {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: #778088;
  }
}

.alert_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon_block {
    .alert_ic {
      display: block;
      width: 100px;
      margin: 0 auto 15px;
    }
  }
  .alert_content {
    margin-bottom: 30px;
    h2 {
      display: block;
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      color: #3e3c4f;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
      line-height: 25px;
      color: #778088;
    }
  }
  .alert_btn_grp {
    display: flex;
    justify-content: center;
    align-items: center;
    .site_btn {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
