.each_content {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 7px 0;
    label{
        display: block;
        color: #0069ba;
        font-size: 15px;
        font-weight: 600;
        width: 50%;
        position: relative;
        margin: 0;
        padding-right: 15px;
        i{
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            font-style: normal;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
        }
    }
    .view_txt{
        display: block;
        color: #3e3c4f;
        font-size: 15px;
        width: 50%;
        position: relative;
        padding-left: 15px;
        line-height: 22px;
    }
}



.sublinks-header{
    @media only screen and (max-width: 991px) {
        display: none;
    }
    .sublinks{
        margin-bottom: 20px;
        .link_grp {
            display: flex;
            justify-content: flex-start;
           ul{
            justify-content: flex-start;
            li{
                a{
                    &.link_active{
                        background: #0069ba;
                        color: #ffffff;
                    }
                }
            }
           }
        }
    } 
}


    
.content_grp{
    @media only screen and (max-width: 991px) {
        .row{
            >.col-12{
                flex: 0 0 auto;
                width: 100%;
            }
        }
    }
}

.content_block{
    @media only screen and (max-width: 991px) {
        .card_outline{
            margin-bottom: 30px !important;
        }
    }
}