.loader_section {
  // border: 8px solid #d3d9e1; /* Light grey */
  // border-top: 8px solid #0069ba; /* Blue */
  border-width: 8px;
  border-top-width: 8px;
  border-style: solid;
  border-top-style: solid;
  border-color: #d3d9e1;
  border-top-color: #0069ba;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// page loader

.page_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 237, 241, 0.95);
  z-index: 9999999;
}

.loader_spin {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #d3d9e1;
  border-radius: 50%;
  border-top: 8px solid #0069ba;
  border-bottom: 8px solid #0069ba;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  @media only screen and (max-width: 1000px) {
    margin-left: -30px;
  }
}
