.ps__thumb-y{
    opacity: 0.50 !important;
    background-color: #ffffff !important;
}

.ps__thumb-x{
    opacity: 0 !important;
}

.inner-table-content{
    .ps__thumb-y{
        opacity: 0.50 !important;
        background-color: #ccc !important;
    }
}