.sidebar_mobile_nav {
    transition      : all 0.8s ease-in-out;
    position        : fixed;
    width           : 30%;
    height          : 100vh;
    background-color: #0069ba;
    top             : 48px;
    left            : 0;
    z-index         : 9999;
    display         : none;
    @media only screen and (max-width: 1199px){
        width: 40%;
        display    : block;
        transform: translateX(-9999px);
    }
    @media only screen and (max-width: 992px) {
        width      : 80%;
    }

    @media only screen and (max-width: 767px) {
        width      : 100%;
    }

    .submenu_child {
        display   : none;
        width     : 100%;
        max-height: 300px;
        overflow  : hidden;
        overflow-y: auto;
        background: #035da3;

        >ul {
            padding: 15px 0;

            >.sidebar-item {
                >a {
                    padding-left: 25px !important;
                }
            }
        }

        .submenu_child {
            background: #034a81;

            .sidebar-item {
                >a {
                    padding-left: 50px !important;
                }
            }
        }
    }

    .sidebar_mob_inner {
        padding   : 30px 0;
        max-height: 90vh;
        overflow  : hidden;
        overflow-y: auto;

        .sidebar_ul_mob {
            .sidebar-item {
                display      : block;
                clear        : both;
                margin-bottom: 10px;
                position     : relative;

                a {
                    display        : flex;
                    align-items    : center;
                    justify-content: stretch;
                    position       : relative;
                    color          : #ffffff;
                    padding        : 7px 15px;

                    >i {
                        display     : block;
                        width       : 20px;
                        margin-right: 10px;
                    }

                    >.menu_icon {
                        display     : block;
                        width       : 22px;
                        margin-right: 10px;
                    }

                    .menu_title {
                        display  : block;
                        font-size: 15px;
                        color    : #ffffff;
                    }

                    .mob_tog_i {
                        display  : block;
                        position : absolute;
                        top      : 50%;
                        transform: translateY(-50%);
                        right    : 15px;

                        .fa-minus {
                            display: none;
                        }

                        .fa-plus {
                            display: block;
                        }
                    }
                }

                &.open {
                    >.mobile_nav_a {
                        >.mob_tog_i {
                            .fa-plus {
                                display: none;
                            }

                            .fa-minus {
                                display: block;
                            }
                        }
                    }

                    >.submenu_child {
                        display: block;

                        .mobile_nav_a {
                            i {
                                width: 20px;
                            }

                            span {
                                font-size: 15px;
                            }
                        }

                        .submenu_child {
                            .sidebar-item {
                                margin-bottom: 0;

                                .mobile_nav_a {
                                    i {
                                        width: 12px;
                                    }

                                    span {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}

.sidebarmob_toggle{
    .sidebar_mobile_nav{
        transform: translateX(0);
    }
}