.button_tab_block {
  &.nav-tabs {
    border: none;
    margin-bottom: 30px;
    .nav-item {
      margin-right: 15px;
      .nav-link {
        display: block;
        text-align: center;
        padding: 0 25px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        box-shadow: 0px 20px 22px -10px rgb(179, 205, 227) !important;
        color: #0069ba;
        border-radius: 10px;
        border: 1px solid #0069ba;
        background: #ffffff;
        &:hover {
          background: #0069ba;
          color: #ffffff;
        }
        &.active {
          background: #0069ba;
          color: #ffffff;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.tab_inner_block {
  background: #f9f9f9;
  padding: 30px;
}
