.tab_links_block {
    margin-bottom: 30px;

    ul {
        display        : flex;
        align-items    : center;
        justify-content: stretch;

        @media only screen and (max-width: 991px) {
            &.tab_nav_links {
                display: none;
            }
        }


        li {
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            a {
                display      : block;
                min-width    : 220px;
                height       : 65px;
                line-height  : 65px;
                padding      : 0 25px 0 70px;
                position     : relative;
                border       : 2px solid #0069ba;
                color        : #0069ba;
                font-size    : 18px;
                font-weight  : 600;
                border-radius: 50px;
                background   : #ffffff;
                box-shadow   : 0px 20px 22px -10px rgb(179, 205, 227);

                em {
                    position     : absolute;
                    top          : 50%;
                    transform    : translateY(-50%);
                    left         : 5px;
                    font-size    : 32px;
                    width        : 55px;
                    height       : 55px;
                    line-height  : 55px;
                    border-radius: 100%;
                    color        : #ffffff;
                    background   : #0069ba;
                    text-align   : center;
                }
            }

            &.tab_link_active {
                a {
                    background  : #0069ba;
                    color       : #ffffff !important;
                    border-color: #ffffff !important;

                    em {
                        background: #ffffff;
                        color     : #0069ba;
                    }
                }
            }
        }
    }
}